<div class="ruler">
    <svg class="ico z-truck">
        <use xlink:href="#z-truck" />
    </svg>
    <span>Frete Grátis nas compras acima de R$ 400</span>
</div>

<div class="ruler">
    <svg class="ico z-card">
        <use xlink:href="#z-card" />
    </svg>
    <span>Parcele em até 3x sem juros no cartão de crédito</span>
</div>

<div class="ruler">
    <svg class="ico z-brasil">
        <use xlink:href="#z-brasil" />
    </svg>
    <span>Entrega Nacional - Frete para todo o Brasil</span>
</div>