color1_font = #FFFFFF
color1_font_hover = #fff
color1_bg = #304855
color1_bg_hover = #304855
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #B2D44C
color2_bg_hover = #B2D44C
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #0095DE
color3_bg_hover = #0095DE
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #99D052
button_bg_hover = #99D052
