.categories
    @media media-max-lg
        &__show
            order: -1
            margin-right: 10px

        .parent
            position: relative

            > ul
                display: none

            &:after
                content: ''

            > a
                display: flex
                justify-content: flex-start
                align-items: center
                min-height: 48px

            &:after
                icon('\f054')

                position: absolute
                top: 0
                right: 0
                z-index: 10
                display: flex
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                background: var(--primary-contrast)
                font-size: 20px
                transition: all .2s ease

            &.on
                &:after
                    transform: rotate(90deg)

                > ul
                    display: block

        .all-li--0
            padding-bottom: 0

    @media media-min-lg
        flex: 1
        align-self: stretch
        margin-bottom: 0 !important
        margin-left: 55px
        min-width: 0
        background: none

        &__all
            display: none

        .a--0
            padding: 0 20px
            height: 100%
            color: var(--text)
            white-space: nowrap
            font-weight: medium
            font-size: 16px

        &--justify
            .a--1
                padding: 12px 0
                color: var(--primary-contrast)

                &:hover
                    color: var(--secundary)

        .li--0
            position: static
            flex: 0 0 auto
            height: 100%

            &:hover
                .a--0
                    background: none
                    color: var(--secundary)
                    font-weight: bold

        .ul--0
            justify-content: flex-start
            padding: 0 20px
            height: 100%

        .ul--1
            &:before
                display: block
                padding: 12px 0
                color: var(--secundary)
                content: attr(data-title)
                font-weight: bold
                font-size: 20px

        .box--1
            left: 0
            padding: 30px 55px
            width: var(--width, 100%)
            border-radius: var(--radius)
            background: unquote('rgba(var(--primary-rgb), var(--alpha))')