.chat
    color: var(--tertiary)

    @media media-max-sm
        display: none

    &__link
        display: flex
        justify-content: center
        align-items: center
        width: 48px
        height: 48px
        color: currentColor

        &:hover
            color: var(--secundary)

    .ico
        width: 24px
        height: 24px
        fill: currentColor
