.logo
    .header &
        img, svg
            max-height: 90px
            height: 90px
            transitiona: all .2s ease-in-out
            object-fit: contain

            .scrolling &
                @media media-min-lg
                    max-height: 80px
