.mycart
    .header &
        margin-left: 0

    &:hover
        .mycart__header
            color: var(--secundary)

    &__header
        color: var(--tertiary)

        a
            display: flex
            justify-content: center
            align-items: center
            width: 48px
            height: 48px
            color: currentColor

        .ico
            width: 24px
            height: 24px
            fill: currentColor

    &__content
        display: none !important