
.owl
    &-page
        span
            width: 8px
            height: 8px
            background: #E5E5E5
            opacity: 1

        &.active span
            background: var(--secundary)

    &-next, &-prev
        --bg: #E9F2F2
        --color: #848E90

        &
            width: 36px
            height: 36px
            border-radius: 50%
            background: none
            line-height: 1

        &:hover
            background: none

        &:before
            display: flex
            justify-content: center
            align-items: center
            background: var(--bg)
            color: var(--color)
            font-size: 12px
            line-height: 1