.qty-wrapper
    .prod__shop &
        left: -1px
        margin: 0
        width: 65px
        height: 55px
        border-radius: 55px
        background: #EFEFEF

        .bt-box
            display: contents

        .input-box
            display: flex
            align-items: stretch
            height: 100%

        .less
            order: -1

        .less, .plus, input
            height: 100%
            border-radius: 0
            box-shadow: none

        .less, .plus
            display: flex
            flex: 0 0 25px
            justify-content: center
            align-items: center
            background: none
            color: #000
            text-indent: 0
            font-size: 16px
            opacity: .2

            span
                display: inline

            &:before
                display: none

        input
            flex: 1
            min-width: 0
            border: 0
            background: none
            color: #000
            font-size: 16px
            line-height: 1