.ruler
    display: flex
    justify-content: flex-start
    align-items: center
    color: var(--text)
    font-weight: medium
    font-size: 16px

    .ico
        margin-right: 14px
        width: 35px
        height: 35px
        fill: var(--secundary)

#banner__regua-de-vantagens
    --bg: #273B39

    body:not(.cms-home) &
        shadowBorder()

        margin-top: -16px
        background: var(--bg)

        .ruler
            color: #fff