.sharing-links
    .list:before
        color: var(--text)
        font-size: 12px

    a
        background: none
        color: unquote('rgba(var(--text-rgb), .3)')

        .ico
            fill: currentColor

    @media media-min-lg
        margin-left: 100px