.cms-home
    .main
        margin: 0
        max-width: 100%

    .main-container
        max-width: 100%
        width: 100%

        .products
            + .products
                margin-top: 40px
                border-top: solid 1px var(--border-products)

            &__list
                container()