.catalog-product-view
    .breadcrumb
        container()

    .col-main
        padding: 0

    .main
        margin: 0

        &-container
            max-width: none
            width: 100%

.product-essential
    container()

.prod
    &__name
        h1
            color: var(--text)
            font-weight: bold
            font-size: 26px
            line-height: 1.2

        .brand
            padding: 0

            .thumb
                display: none

            a
                color: #000
                font-weight: regular
                font-size: 14px
                opacity: .3

                &:before
                    content: 'Marca: '

                &:after
                    content: attr(title)

    &__prices
        padding: 30px 0

        .old-price
            .label
                display: none

            .price
                text-decoration: none

                span
                    color: #cacaca
                    text-decoration: line-through
                    font-weight: medium
                    font-size: 18px

        .special-price, .regular-price
            .label
                display: none

            .price span
                color: var(--text)
                font-weight: bold
                font-size: 28px

@media media-min-lg
    .prod
        &__img
            flex: 1
            min-width: 0

        &__shop
            flex: 0 1 465px